.feed-container{
    /* background-color: aqua; */
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 5px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    /* background-image:linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114)); */
    padding-bottom: 20px;
    box-shadow: 10px 10px 5px lightsteelblue;
}


.feed-container1{

    
}




.feed1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    /* margin-top: 10px; */
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 10px;
    /* position: sticky; */
    /* position: -webkit-sticky; */
    /* top: 10px required */
}

.feed2{

}

.feed3{
    /* background-color: aqua; */
    padding-top: 10px;
}