.contact-container {
  position: fixed;
  /* background-color:gainsboro; */
}

.c1 {
  /* background-color: aqua; */
  border-radius: 30px;
  margin-top: 10px;
  /* margin-left: 5px; */
  padding-top: 10px;
  box-shadow: 0 0.188em 1.550em rgba(82, 163, 163);
  /* background: linear-gradient(to right, #fffbd5, #b20a2c);; */
  /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #ef9a9a); */
  /* background-image:linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% ); */


  /* background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%); */

  background-color: #fee2f8;
background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);




}



/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,900&display=swap"); */
.c1 h5 {
  display: flex;
  justify-content: center;
}
.c11 {
  padding-bottom: 10px;
}
